* {
	font-family: 'Lobster', cursive;
	font-size: 20px;
}

#external {
	color: yellow;
}

h1 {
	font-size: 50px;
}

#bootcamp {
	text-transform: uppercase;
}

.languages {
	background-color: lightgreen;
}

li[type="tools"] {
	border: solid;
	border-color: lightblue;
}



img	{
	border-radius: 90px;
	height: 90px;
	width: 90px;
}

ul > li {
	list-style-type: none;
	letter-spacing: 10px;
}

section p {
	text-align: center;
	color: black;
}


